@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:ital@1&family=Open+Sans&family=PT+Sans&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&family=Sevillana&display=swap");
:root {
  --primary: #141d3a;
  --secondary: #0b2b6c;
  --third: #f9f1e3;
  --fourth: #f3f5f6;
  --fifth: #f16735;
}
* {
  box-sizing: border-box;
  font-family: Montserrat;
}
html {
  background-color: var(--fourth);
}
.container {
  width: 100 vw;
  height: 100vh;
}
.headerContainer {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  border-bottom: 4px solid var(--fifth);
  padding-bottom: 1px;
  background-color: var(--secondary);
  color: var(--fifth);
}
.profil {
  width: 20%;
  display: flex;
  justify-content: center;
}
.image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border-color: 10px var(--fifth);
}
.titre {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 3%;
}
.icons {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  padding-right: 3%;
}
.icons i {
  font-size: 30px;
  color: var(--fifth);
}
.bodyContainer {
  height: 70%;
  display: flex;
}
.menu {
  width: 20%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--primary);
  justify-content: space-around;
  align-items: center;
}
.content {
  width: 80%;
  padding-bottom: 32%;
}
.content > h1 {
  text-align: center;
  color: var(--fifth);
  width: 80%;
}
.menu > a {
  text-decoration: none;
}
.menu > a:hover {
  color: var(--fifth);
}
.footerContainer {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2em; /* Başlık boyutunu belirleyin */
  transition: font-size 0.3s; /* Geçiş efektini ekleyin */
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em; /* Başlık boyutunu belirleyin */
  transition: font-size 0.3s; /* Geçiş efektini ekleyin */
  color: var(--fifth);
}
p {
  font-size: 1em; /* Başlık boyutunu belirleyin */
  transition: font-size 0.3s;
  text-indent: 20px;
  margin: 20px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.5em; /* Ekran küçüldükçe başlık boyutunu küçültün */
  }
  h2 {
    font-size: 0.9em; /* Ekran küçüldükçe başlık boyutunu küçültün */
  }
  .image {
    max-width: 50%;
  }

  p {
    font-size: 0.7em;
  }
}
